.radialProgressContainer {
    position: relative;
    max-width: 15rem;
    max-width: 15rem;
    aspect-ratio: 1 / 1;

    .radialProgressCircle {
        transform: rotate(-90deg);
        height: 100%;
        width: 100%;
        pointer-events: none;
    }

    .radialProgressBackground {
        fill: none;
        stroke: lightblue;
        stroke-width: 4px;
    }

    .radialProgress {
        fill: none;
        stroke: blue;
        stroke-linecap: round;
        stroke-dasharray: 100 100;
        stroke-width: 4px;
        transition: stroke-dashoffset 300ms ease-ease-in-out,
            opacity 300ms ease-ease-in-out, stroke 300ms ease-ease-in-out;
        will-change: transform;
    }

    .progressText {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: lightblue;
        font-size: 12px;

        h4 {
            text-align: center;
            font-size: 0.8rem;
        }
        p {
            font-size: 1rem;
            font-weight: 800;

            text-align: center;
        }
    }
}
