.tableHead {
    background-color: rgb(0, 150, 136);
    height: 10rem;
    overflow-x: auto;

    .requestTable__title {
        font-size: 1.4rem;
        text-align: center;
        color: white;
    }

    tr {
        border-bottom: 2px solid rgb(170, 170, 170);
    }

    .requestTable__header {
        background-color: white;
        z-index: 1;
        position: sticky;
        top: 0;
        color: rgb(139, 139, 139);
        th {
            padding: 1rem;
            width: 10rem;
        }
    }
    label {
        background-color: white;
        padding-right: 0.5rem;
        padding-left: 0.3rem;

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}
@media only screen and (min-width: 768px) {
    .tableHead {
        background-color: rgb(0, 150, 136);
        height: 10rem;

        .requestTable__title {
            font-size: 2rem;
            text-align: center;
            color: white;
        }
    }
}
