.btnBar {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
    align-items: center;

    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    background-color: rgb(38, 166, 154);

    .selectedMonth {
        color: white;
    }
    .currentMonth {
        text-underline-offset: 6px;
        text-decoration: rgba(255, 255, 255, 0.594) underline;
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
    }

    .selectedMonth.currentMonth {
        text-decoration: white underline;
        text-underline-offset: 6px;
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
    }

    button {
        background: none;
        border: none;
        color: rgba(255, 255, 255, 0.594);
        cursor: pointer;
        height: 3rem;
        width: 3rem;
        font-size: 1rem;
        font-weight: 600;
    }
    button:hover {
        color: white;
    }
}

@media only screen and (min-width: 768px) {
    .btnBar {
        display: flex;

        justify-content: center;
        align-items: center;
        background-color: rgb(38, 166, 154);
    }
}
