.btnBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(38, 166, 154);

    .selectedMonth {
        color: white;
    }

    button {
        background: none;
        border: none;
        color: rgba(255, 255, 255, 0.594);
        cursor: pointer;
        height: 3rem;
        width: 3rem;
        font-size: 1rem;
        font-weight: 600;
    }
    button:hover {
        color: white;
    }
}
