table {
    display: table;
    border-collapse: collapse;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;

    label {
        display: flex;
        justify-content: space-between;
    }

    th {
        width: 10rem;
        border-bottom: 2px solid rgb(170, 170, 170);
        text-align: left;
    }

    tr {
        height: 3rem;
        border-bottom: 1px solid rgb(170, 170, 170);
    }
    tbody {
        overflow-y: scroll;
        tr {
            height: 6rem;
            background-color: white;
        }
    }

    .requestTable__td__edit {
        text-align: center;
    }

    td {
        width: 5rem;
        font-size: 1rem;
        position: relative;
        font-weight: 500;
        text-align: left;
        word-wrap: break-word;
        padding: 1rem;
    }
    .requestTable__tdWaitApproval {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }
    .requestTable__tdWaitApproval::before {
        content: "";
        width: 1rem;
        height: 1rem;
        background-color: orange;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: -0.5rem;
        transform: translate(-50%, -50%);
    }
    .requestTable__tdApproved {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .requestTable__tdApproved::before {
        content: "";
        width: 1rem;
        height: 1rem;
        background-color: rgb(34, 176, 34);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: -0.5rem;
        transform: translate(-50%, -50%);
    }

    table tbody td:hover {
        cursor: pointer;
        background-color: #f2f2f2;
    }
}
