.btnBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: rgb(0, 150, 136);

    .selectedYear {
        color: white;
    }
    .currentYear {
        text-underline-offset: 6px;
        text-decoration: rgba(255, 255, 255, 0.594) underline;
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
    }

    .selectedYear.currentYear {
        text-decoration: white underline;
        text-decoration-line: white underline;
        text-underline-offset: 6px;
        text-decoration-thickness: 2px;
    }

    button {
        background: none;
        border: none;
        color: rgba(255, 255, 255, 0.594);
        cursor: pointer;
        height: 3rem;
        width: 3rem;
        font-size: 1rem;
        font-weight: 600;
    }
    button:hover {
        color: white;
    }
}
