.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    margin-top: auto;

    table {
        display: table;
        border-collapse: collapse;
        margin: 1rem;
        width: 100%;
        height: 100%;
    }

    td {
        width: 5rem;
        border-bottom: 1px solid black;
        text-align: center;
    }

    table tbody td:hover {
        cursor: pointer;
        background-color: #f2f2f2;
    }

    table tbody .holiday {
        background-color: #ffe6e6;
    }
}

.calendar__dayHoliday {
    background-color: red;
}
@media only screen and (min-width: 768px) {
    .calendar-container {
        width: 768px;
        height: 768px;
    }
}
