.userPanelContainer {
    background-color: rgb(46, 61, 80);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
    margin-left: 0;
    color: white;
    height: 100svh;

    transition: all 1s;

    .topContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .profileContainer {
            padding-bottom: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .profileImg {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 8rem;
                height: 8rem;
                border-radius: 50%;
                overflow: hidden;
                margin-bottom: 1rem;

                .userImage {
                    background-size: cover;
                    background-position: center;
                    width: 8rem;
                    height: 8rem;
                }

                * {
                    font-size: 7.5rem;
                    color: white;
                }

                .profileImg__photoIconWrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    width: 4rem;
                    height: 4rem;
                    background-color: black;
                    border-radius: 50%;
                    opacity: 0;

                    cursor: pointer;

                    input[type="file"] {
                        cursor: pointer;
                        position: absolute;
                        font-size: 0;
                        width: 4rem;
                        height: 4rem;
                        z-index: 3;
                        opacity: 0;
                    }
                    .profileImg__addPhotoIcon {
                        font-size: 2rem;
                        z-index: 2;
                        cursor: pointer;
                    }
                }
            }

            .profileImg__photoIconWrapper:hover {
                opacity: 0.8;
            }
        }
    }
    .bottomContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.userPanelContainer.hideUserPanel {
    opacity: 0;
    width: 0;
    height: 0;
    margin-left: -20rem;
}

@media only screen and (min-width: 768px) {
    .userPanelContainer {
        max-height: 100svh;
        overflow-y: auto;
    }
}
