.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    overflow-y: auto;

    table {
        display: table;
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        height: 100%;

        thead {
            th {
                padding-left: 0.3rem;
                text-align: left;
                font-size: 1.3rem;
                background-color: white;
            }
        }

        tbody {
            tr {
                height: 5rem;
                background-color: white;
            }
        }
    }

    td {
        width: 5rem;
        border-bottom: 1px solid black;
    }

    table tbody td:hover {
        cursor: pointer;
        background-color: #f2f2f2;
    }
}
td {
    font-size: 1.3rem;
}

.calendar__prevMonth {
    color: rgb(212, 212, 212);
}
.calendar__nextMonth {
    color: rgb(212, 212, 212);
}
.calendar__weekend {
    background-color: rgb(221, 221, 221);
}

.calendar__weekendDiffMonth {
    background-color: rgb(221, 221, 221);
    color: rgb(141, 140, 140);
}

.calendar__today {
    background-color: rgba(38, 166, 153, 0.353);
    color: black;
}
td:hover.calendar__today:hover {
    background-color: rgba(38, 166, 153, 0.659);
}
@media only screen and (min-width: 768px) {
    .calendar {
        height: 100%;
    }
}
