.header {
    height: 6.4rem;
    background-color: rgb(0, 150, 136);
}

.mainGrid {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .mainGrid__userList {
        display: flex;
        flex-direction: column;
        border: 1px solid red;
        border-radius: 20px;
        margin: 1rem;
        margin-right: 0;

        overflow: hidden;

        .mainGrid__userTab {
            display: flex;
            align-items: center;

            width: 100%;
            overflow-x: scroll;
            padding: 0.3rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            align-content: center;
            gap: 1rem;

            .userTab__profilePic {
                display: flex;
                font-size: 3rem;
            }
            .userTab__textContainer {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                p {
                    color: grey;
                    font-size: 0.9rem;
                    font-weight: 600;
                }
            }
        }
        .mainGrid__userTab:hover {
            background-color: rgb(239, 237, 237);
        }
    }
    .mainGrid__userProfile {
        border: 1px solid black;
        border-radius: 20px;
        margin: 1rem;
        height: 40rem;
    }
}

@media only screen and (min-width: 768px) {
    .mainGrid {
        height: 100vh;
        display: grid;
        grid-template-columns: 40% 60%;

        .mainGrid__userProfile {
            border: 1px solid black;
            border-radius: 20px;
            margin: 1rem;
            height: auto;
        }
    }
}
