.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 6.4rem;
    background-color: rgb(0, 150, 136);

    .header__searchContainer {
        background-color: white;
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 1rem;

        .header__magnifiyingGlass {
            position: absolute;
            z-index: 1;
        }

        input[type="text"] {
            height: 1.75rem;
            padding-left: 1.75rem;
            border: none;
            width: 10rem;
            position: absolute;
            transition: width 250ms;
            border-radius: 7.5px;
        }
        input[type="text"]:focus {
            width: 20rem;
            outline: none;
            outline-offset: -2px;
        }
    }
    h1 {
        color: white;
        margin-left: auto;
        padding-right: 2rem;
    }
}

.mainGrid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(239, 236, 236);

    .mainGrid__userList {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 20px;
        margin: 1rem;
        margin-right: 0;
        overflow: hidden;
        overflow-y: auto;
        box-shadow: 0px 0px 10px grey;
        background-color: rgb(244, 244, 244);

        .mainGrid__userTab {
            display: flex;
            align-items: center;
            width: 100%;
            overflow-x: auto;
            padding: 0.3rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            align-content: center;
            gap: 1rem;
            cursor: pointer;

            .userTab__profilePic {
                display: flex;
                font-size: 3rem;
            }
            .userTab__textContainer {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                p {
                    color: grey;
                    font-size: 0.9rem;
                    font-weight: 600;
                }
            }
        }
        .mainGrid__userTab:hover {
            background-color: rgb(239, 237, 237);
        }
    }
    .mainGrid__userProfile {
        box-shadow: 0px 0px 10px grey;
        border-radius: 20px;
        margin: 1rem;
        height: 40rem;
        background-color: rgb(244, 244, 244);
    }
}

@media only screen and (min-width: 768px) {
    .header {
        h1 {
            color: white;
            margin-left: auto;
            padding-right: 20rem;
        }
    }
    .mainGrid {
        height: 100vh;
        display: grid;
        grid-template-columns: 40% 60%;

        .mainGrid__userProfile {
            border-radius: 20px;
            margin: 1rem;
            height: auto;
        }
    }
}
