# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "rules": {
    "semi": "error",
    "quotes": ["error", "single"],
    "indent": ["error", 2],
    "no-unused-vars": "off"
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": [
    "googleappsscript"
  ],
  "fix": true
}
